#container {
  display: flex;
  flex-flow: column;
}

#header {
  display: flex;
  height: 150pt;
}

img#album {
  height: 100%;
  width: 150pt;
}

#body {
  display: flex;
}

#info {
  display: flex;
  flex-flow: column;
}